// Variables
@import "./variables";

// Dependencies
@import "~@pollen-solutions/support/resources/assets/src/scss/card.scss";

// Customization
.FieldRepeater-item {
  min-height:80px;

  .FieldText {
    width: 100%;
  }
}

.FieldRepeater-itemOrder.Card-order[type="text"] {
  min-height:12px;
  font-size:9px;
}