// Variables
@import "./variables";

// Customization
/** STYLES DE CONTROLE (recommandé) */
[data-control="text-remaining.wrapper"],
[data-control="text-remaining.wrapper"] > * {
  box-sizing: border-box;
}

[data-control="text-remaining.wrapper"] {
  position: relative;
}

[data-control="text-remaining.infos"] {
  display: none;
}

[data-control="text-remaining.wrapper"] [data-control="text-remaining"]:focus + [data-control="text-remaining.infos"],
[data-control="text-remaining.wrapper"] [data-control="text-remaining"]:hover + [data-control="text-remaining.infos"] {
  display: inline-block;
}

/** STYLES GENERAUX */
.FieldTextRemaining-wrapper {
  padding-bottom: 8px;

  .FieldTextRemaining + .FieldTextRemaining-infos {
    bottom: 2px;
  }
}

.FieldTextRemaining {
  min-height: 5.6em;
  resize: none;
  padding: 1em;
  width: 100%;
}

.FieldTextRemaining-infos {
  position: absolute;
  right: 0;
  display: none;
  font-size: 9px;
  padding: 0 5px;
  line-height: 1;
}

.FieldTextRemaining-infos[aria-reached='less'] {
  color: #27AE60;
}

.FieldTextRemaining-infos[aria-reached='exact'] {
  color: #2980B9;
}

.FieldTextRemaining-infos[aria-reached='more'] {
  color: #C0392B;
}